.h-100 {
  min-height: 100%; // Fallback for browsers that don't support vh
  min-height: 100vh;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.header-links {
  z-index: 2;
}

.blog-post {
  margin: 20px 0;
}

.site-footer {
  padding: 10px 0;
}

.footer-nav .nav-link {
  color: $main-color;
  padding: 0 10px 0 0;
}

.table-of-contents {
  padding: 15px 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.project {
  padding: 15px;
}

.projects-intro {
  background: #fff;
}

// Comments Section
.comment-form {
  padding: 15px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.comment-submit {
  float: right;
  
  &:after {
    clear: both;
  }
}

.post-comments-list {
  list-style: none;
  padding-left: 15px;
}

.post-comment {
  border-left: 3px solid $main-color;
  margin: 0;
  padding: 10px;
  padding-right: 0;
}

// .md breakpoint
@media screen and (max-width:768px) {
  .header-links {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }

  .featured-image {
    margin: 15px 0 0 0;
  }

  .site-footer {
    margin-bottom: 60px;
  }
}
